<div class="content">
  <div class="welcome-logos">
    <div>
      <img src="../assets/img/logo.jpg" alt="logo" />
    </div>
    <div>
      <img src="../assets/img/logoevent.jpg" alt="logo" />
    </div>
  </div>
  <nav>
    <a mat-raised-button color="primary" routerLink="/home">Enter</a>
  </nav>
  <div class="text">
    <p>
      Το EVENT. 01 σημειώνει την αρχή των δράσεων της πλατφόρμας We are Athens,
      δημιουργώντας ένα άτυπο στιγμιότυπο, χαρτογραφώντας την Αθήνα με κεντρικό
      άξονα τους δημιουργούς που ζουν και εργάζονται στην Αθήνα. Οι καλλιτέχνες
      που ανταποκρίθηκαν στο ανοιχτό κάλεσμα του We are Athens ανοίγουν τους
      προσωπικούς τους χώρους, τα εργαστήρια τους ή βγαίνουν με την δουλεία τους
      στον δημόσιο χώρο στήνοντας ένα μεγάλο, απρόβλεπτο και πολυσυλλεκτικό
      χάπενινγκ, το Σάββατο 24 και την Κυριακή 25 Ιουνίου. Καταθέτουν μια εικόνα
      χωρίς ετικέτες και κεντρικές αφηγήσεις ανοίγοντας τον κόσμο τους στο τώρα
      της Αθήνας.
    </p>
  </div>
</div>
