<div class="centered">
    <div class="welcome-logos">
      <div>
        <img src="../assets/img/logo.jpg" alt="logo" />
      </div>
      <div><img src="../assets/img/event01.png" alt="logo" /></div>
    </div>

    <div class="about">
      <h4>Ιούνιος 2017</h4>
      <h1>We Are Athens</h1>
      <h1>Event. 01</h1>
      <div class="row">
        <div class="col-sm-6">
          <h4>Εγκαίνια:</h4>
          <p>23 Ιουνίου, ώρα _ 20:00</p>
          <p>Πινακοθήκη Βογιατζόγλου</p>
          <p>Ελ. Βενιζέλου 63-71,</p>
          <p>Νέα Ιωνία, 14231, Αττική</p>
          <br />
          <p>---------</p>
          <h4>Διάρκεια δράσης EVENT. 01</h4>
          <p>24 -25 Ιουνίου 2017</p>
        </div>
        <div class="col-sm-6">
          <h4>Οπτικό Υλικό:</h4>
          <p>weareathens.gr /</p>
          <p>weareathens2017@gmail.com</p>
          <br />
          <br />
          <br />
          <br />
          <p>---------</p>
          <h4>Media contact</h4>
          <p>weareathens2017@gmail.com</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            Η ανοιχτή πλατφόρμα <strong>We are Athens</strong> παρουσιάζεται για
            πρώτη φορά διοργανώνοντας ένα σπονδυλωτό και πολυσυλλεκτικό
            χάπενινγκ με τίτλο <strong>EVENT. 01</strong>
          </p>
          <br />
          <h2>We are Athens</h2>
          <p>
            Το We are Athens είναι μια ανοιχτή πλατφόρμα που δημιουργήθηκε, από
            καλλιτέχνες για καλλιτέχνες, που ζουν και εργάζονται στην Αθήνα.
          </p>
          <p>
            Πρόκειται για μια υποδομή πάνω στην οποία ο κάθε καλλιτέχνης μπορεί
            να παρουσιάσει την δουλεία του. Κάθε καλλιτέχνης που συμμετέχει στο
            We are Athens συμμετέχει στην κατασκευή ενός διαδικτυακού κοινού
            τόπου και συνδιαμορφώνει με τους υπολοίπους καλλιτέχνες μια αυτόνομη
            αφήγηση για την εικόνα της τέχνης, στην Αθήνα του σήμερα .
          </p>
          <p>
            Το We are Athens δίνει την δυνατότητα στους καλλιτέχνες να
            επικοινωνήσουν άμεσα την δουλεία τους και να συμμετέχουν με μια
            περιοδικότητα σε συλλογικές δράσεις.
          </p>
          <br />
          <h2>Event. 01</h2>
          <p>
            Το EVENT 01 σημειώνει την αρχή των δράσεων της πλατφόρμας We are
            Athens, δημιουργώντας ένα άτυπο ντοκουμέντο και χαρτογραφώντας την
            Αθήνα με κεντρικό άξονα τους δημιουργούς που ζουν και εργάζονται
            στην Αθήνα.
          </p>
          <p>
            Πάνω από 40 καλλιτέχνες ανοίγουν τους προσωπικούς τους χώρους, τα
            εργαστήρια τους ή βγαίνουν με την δουλεία τους στον δημόσιο χώρο
            στήνοντας ένα μεγάλο, απρόβλεπτο και πολυσυλλεκτικό χάπενινγκ, το
            Σάββατο 24 και την Κυριακή 25 Ιουνίου.
          </p>
          <p>
            Οι καλλιτέχνες που ανταποκρίθηκαν στο ανοιχτό κάλεσμα του We are
            Athens καταθέτουν μια εικόνα χωρίς ετικέτες και κεντρικές αφηγήσεις
            ανοίγοντας τον κόσμο τους στο τώρα της Αθήνας.
          </p>
          <p>
            Οι ενδιαφερόμενοι μπορούν να βρουν πληροφορίες και δείγμα δουλειάς
            των καλλιτεχνών που συμμετέχουν στο EVENT. 01 στο site
            weareathens.gr. Με τον ίδιο τρόπο μπορούν να ενημερωθούν για τις
            τοποθεσίες και τις ώρες που θα λάβουν χώρα οι δράσεις των
            καλλιτεχνών.
          </p>
        </div>
      </div>
      <p>--------------------------------</p>
      <div class="row">
        <div class="col-sm-6">
          <h4>Επιμέλεια:</h4>
          <p>Project ‘n i’</p>
          <ul style="list-style-type:none">
            <li>Χρήστος Κεχαγιόγλου</li>
            <li>Πάνος Κουφός</li>
            <li>Κώστας Λάβδας</li>
            <li>Μαρία Χαρατσάρη</li>
          </ul>
          <p>Capten</p>
        </div>
        <div class="col-sm-6">
          <h4>Οργάνωση, συντονισμός,</h4>
          <p>Project ‘n i’</p>
          <ul style="list-style-type:none">
            <li>Πάνος Κουφός</li>
          </ul>
          <br />
          <p>---------</p>
          <h4>Web page</h4>
          <p>Κατερίνα Σκρουμπέλου</p>
        </div>
      </div>
    </div>
</div>
