<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><img class="logo" routerLink="" src="../assets/img/logo_small.jpg"/></span>
    <span class="example-spacer"></span>
    <mat-icon role="button" tabindex="0" class="example-icon" routerLink="map"
      >map</mat-icon
    >
    <mat-icon role="button" tabindex="0" class="example-icon" routerLink="press"
      >event</mat-icon
    >
    <mat-icon role="button" tabindex="0" class="example-icon" routerLink="about"
      >info</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
