<div class="centered">
    <div class="landing centered text-center">
        <div class="logo-small centered">
            <img src="../assets/img/logo.jpg" alt="logo" class="img-responsive">
        </div>
        <div class="centered text-center social-buttons">
          <a href="mailto:weareathens2017@gmail.com" target="_blank">
              <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
          </a>
          <a href="https://www.facebook.com/weareATH" target="_blank">
                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                      </span>
            </a>
            <a href="https://twitter.com/We_are_Athens" target="_blank">
                <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                          </span>
            </a>
            <a href="https://www.instagram.com/weareathens/" target="_blank">
                <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                          </span>
            </a>
        </div>
        <div class="about">
            <h2>We are Athens</h2>
            <p>We “submit" a picture (among others). We are here and we are Athens. We are either well-known or unknown, either minor or major. We differ a lot in the way we work, the way we think, the way we express ourselves. But we all are visual artists
                who live in this city now, we know it well, we experience its daily pulse. We are part of this unending secret and visible labyrinth, we are flesh of its flesh and we deserve to say:</p>
            <h2>“WE ARE ATHENS”</h2>
            <p>We open our personal spaces, our studios to the public, claiming our right to build our own picture. In a large, labyrinthal, unpredictable, inclusive happening. Here in the present of this Athens’ great fest we are present, without selective
                criteria or labels. We open our world.</p>
            <h2>“WE ARE ATHENS”</h2>
            <p>We create our own documento, a parallel institution. Aiming to get to know each other and celebrate together. In a great fest of art and artists. Presenting our own art, in our own city.</p>
        </div>
        <div class="about">
            <h2>We are Athens</h2>
            <p> Καταθέτουμε μια εικόνα (ανάμεσα στις άλλες). Είμαστε εδώ και είμαστε η Αθήνα. Είμαστε γνωστοί και άγνωστοι, μικροί και μεγάλοι. Έχουμε τεράστιες διαφορές στον τρόπο που δουλεύουμε, στον τρόπο που σκεπτόμαστε, στον τρόπο που εκφραζόμαστε. Είμαστε
                όμως εικαστικοί δημιουργοί που ζούμε σ’ αυτήν την πόλη τώρα, την ξέρουμε καλά, καθημερινά ζούμε τον σφυγμό της. Είμαστε μέρος του ατέλειωτου μυστικού και φανερού της λαβυρίνθου, σάρκα από την σάρκα της και έχουμε κάθε δικαίωμα να λέμε
                ότι :</p>
            <h2>“WE ARE ATHENS”</h2>
            <p> Ανοίγουμε τους προσωπικούς μας χώρους και τα εργαστήρια μας διεκδικώντας το δικαίωμά μας να κατασκευάσουμε εμείς την δική μας εικόνα. Σ’ ένα μεγάλο, λαβυρινθώδες, απρόβλεπτο ,πολυσυλλεκτικό χάπενινγκ. Εδώ, παρόντες χωρίς κριτήρια επιλογής
                κι ετικέτες, στο τώρα της Αθήνας της μεγάλης γιορτής. Ανοίγουμε τον κόσμο μας.</p>
            <h2>“WE ARE ATHENS”</h2>
            <p> Δημιουργούμε το δικό μας ντοκουμέντο, έναν παράλληλο θεσμό. Για να γνωριστούμε και να γιορτάσουμε μαζί. Σε μια μεγάλη γιορτή της τέχνης και των καλλιτεχνών. Με τη δική μας τέχνη, στη δική μας πόλη.</p>
        </div>
    </div>
</div>
