<div class="artist">
  <h3>{{ artist.name_en }} {{ artist.surname_en }}</h3>
  <div class="social-media">
    <a
      mat-icon-button
      color="primary"
      *ngIf="artist.contact && artist.contact.facebook"
      [href]="artist.contact.facebook"
      target="_blank"
    >
      <mat-icon aria-label="Example icon-button with a heart icon"
        >mood</mat-icon
      >
    </a>
    <a
      mat-icon-button
      color="primary"
      *ngIf="artist.webpage"
      [href]="artist.webpage"
      target="_blank"
    >
      <mat-icon aria-label="Example icon-button with a heart icon"
        >public</mat-icon
      >
    </a>
    <a
      mat-icon-button
      color="primary"
      *ngIf="artist.contact && artist.contact.mail"
      [href]="'mailto:' + artist.contact.mail"
      target="_blank"
    >
      <mat-icon aria-label="Example icon-button with a heart icon"
        >mail</mat-icon
      >
      <span>{{ artist.contact.mail }}</span>
    </a>
    <a
      mat-icon-button
      color="primary"
      *ngIf="artist.contact && artist.contact.telephone"
      [href]="'tel:' + artist.contact.telephone"
      target="_blank"
    >
      <mat-icon aria-label="Example icon-button with a heart icon"
        >local_phone</mat-icon
      >
      <span> {{ artist.contact.telephone }}</span>
    </a>
  </div>

  <div *ngIf="artist.images" class="images">
    <div
      role="button"
      tabindex="0"
      (click)="enlarge(img.value)"
      *ngFor="let img of (artist.images | keyvalue)"
    >
      <img [src]="img.value" [alt]="img.key" />
    </div>
  </div>
  <div class="bio">
    {{ artist.bio_en }}
  </div>
  <div class="hours">
    <div class="col-md-6 col-sm-12 artist-available text-center centered">
      <div class="well">
        <h4>Hours</h4>
        <p><strong>Saturday 24 June:</strong> {{ available_24_en }}</p>
        <p><strong>Sunday 25 June:</strong> {{ available_25_en }}</p>
      </div>
    </div>
  </div>
</div>
