<div class="artist">
  <h3>{{ artist.name_en }} {{ artist.surname_en }}</h3>
  <div class="social-links text-center">
    <a
      *ngIf="artist.contact && artist.contact.facebook"
      [href]="artist.contact.facebook"
      class="social-link"
      target="_blank"
    >
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a
      *ngIf="artist.webpage"
      [href]="artist.webpage"
      class="social-link"
      target="_blank"
    >
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a
      *ngIf="artist.contact && artist.contact.mail"
      [href]="'mailto:' + artist.contact.mail"
      class="social-link"
      target="_blank"
    >
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      {{ artist.contact.mail }}
    </a>
    <a
      *ngIf="artist.contact && artist.contact.telephone"
      [href]="'tel:' + artist.contact.telephone"
      class="social-link"
      target="_blank"
    >
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
      </span>
      {{ artist.contact.telephone }}
    </a>
  </div>
  <div *ngIf="artist.images" class="images">
    <div
      role="button"
      tabindex="0"
      (click)="enlarge(img.value)"
      *ngFor="let img of (artist.images | keyvalue)"
    >
      <img [src]="img.value" [alt]="img.key" />
    </div>
  </div>
  <div class="bio">
    {{ artist.bio_en }}
  </div>
  <div class="hours">
    <div class="col-md-6 col-sm-12 artist-available text-center centered">
      <div class="well">
        <h4>Hours</h4>
        <p><strong>Saturday 24 June:</strong> {{ available_24_en }}</p>
        <p><strong>Sunday 25 June:</strong> {{ available_25_en }}</p>
      </div>
    </div>
  </div>
</div>
