.artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .images {
    display: flex;
    flex-wrap: wrap;
    div {
      width: 100px;
      height: 150px;
      margin: 5px 10px;
      cursor: pointer;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      display: block;
      width: auto;
      margin-right: 8px;
    }
  }

  .biohours {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .bio {
      width: 50%;
      text-align: center;
    }
    .hours {
      border: 1px grey dotted;
      width: 30%;
      padding: 0 16px;
      text-align: left;
    }
  }
}
